<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BeerClub{% endblock title %}</title>
    <link rel='stylesheet' href="{%static 'css/style.css' %}"></link>
</head>
<body>
    <header>
        <span class='logo'>BeerClub</span>
        <ul class='nav'>
            <li><a href="{% url "index" %}">Dashboard</a></li>
            <li><a href="{% url "review_list" %}">Review</a></li>
        </ul>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2024 BeerClub <a style= "float:right", href="https://www.guinness.com/en">Our sponsor "Guinness" brewery</a></p>
    </footer>
</body>
</html>